<link href="assets/stylesheets/container.css" rel="stylesheet" type="text/css" />
<section id="container">
        	<ul id="stage">
            	<li><%= image_tag("1.jpg") %></li>
                <li><%= image_tag("2.jpg") %></li>
                <li><%= image_tag("3.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                <li><%= image_tag("4.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                <li><%= image_tag("5.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                <li><%= image_tag("6.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                <li><%= image_tag("7.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                <li><%= image_tag("1.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                <li><%= image_tag("1.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                <li><%= image_tag("1.jpg", :mouseover => "2.jpg", :alt => "Illustration") %></li>
                
             
            </ul>

</section>
       
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/js/script.js"></script>
	


